body {
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.iscritto-form {
  background-color: #3c424f;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Spazio tra le righe */
}

.iscritto-form h2 {
  margin-top: 0;
}

.form-row {
  display: flex;
  gap: 1rem; /* Spazio tra gli input sulla stessa riga */
}

.form-row > input[type="text"] {
  width: 100%;
}

input[type="text"], input[type="date"] {
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #282c34;
  color: white;
  font-size: 1rem;
}

.checkbox-row label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.form-row label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
}


button[type="submit"] {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #79e2ff;
}

